<div class="header-bar">
    <div class="header-section">
        <span>@ApplicationName</span>
    </div>

    <div class="header-button">
        <button @onclick=Toggle>@ButtonName</button>
    </div>
</div>

<div class=@($"navigation-bar {ClassName}")>
    <NavigationBar @bind-Toggled=Toggled Items="@Items" />
</div>

@if (Toggled)
{
    <div class="overlay" @onclick=Toggle></div>
}

@code {
    private bool Toggled { get; set; }
    private string ClassName => Toggled ? "toggled" : string.Empty;
    private string ButtonName => Toggled ? "Close" : "Open";
    private void Toggle() => Toggled = !Toggled;

    private List<NavigationBarItem> Items = new()
    {
        new() { Title="Home", Hyperlink="" },
        new() { Title="Articles", Hyperlink="counter" },
    };

    /// <summary>
    /// Gets or sets the header name.
    /// </summary>
    [Parameter]
    public string ApplicationName { get; set; } = string.Empty;
}