.header-bar {
    background-color: var(--header);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--sg);
}

.header-section {
    display: flex;
    align-items: center;
    height: calc(var(--sg) * 6);
}

.header-button-section {
    visibility: collapse;
}

.header-button {
    position: relative;
    z-index: 1000;
    background-color: var(--header);
    border: none;
    cursor: pointer;
    display: flex;
    padding: var(--sg);
}

    .header-button:hover {
        background-color: var(--primary-hover);
    }


.navigation-bar {
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 5;
}

@media (max-width: 640px) {
    .header-button {
        visibility: visible;
    }

    .navigation-bar:not(.toggled),
    .navigation-bar:not(.toggled) ::deep .navbar,
    .navigation-bar:not(.toggled) ::deep .navbar-item,
    .navigation-bar:not(.toggled) ::deep .navbar-title {
        visibility: collapse;
        height: 0px;
        border: none;
        font-size: 0px;
        transition-duration: 0ms;
    }

    .navigation-bar.toggled {
        display: block;
        position: absolute;
        top: calc(var(--sg) * 6);
        right: var(--sg_xlg);
        left: var(--sg_xlg);
    }

        .navigation-bar.toggled ::deep .navbar {
            height: auto;
            flex-direction: column;
        }

        .navigation-bar.toggled ::deep .active .navbar-item {
            box-sizing: initial;
            border-bottom: none;
            border-left: var(--sg_sm) solid var(--primary-complementary);
        }

        .navigation-bar.toggled ::deep .navbar-item {
            width: auto;
            align-items: start;
            padding: var(--sg_lg);
        }

        .navigation-bar.toggled ::deep .navbar-title {
            top: 0px;
        }
}
