<div class="header-bar">
    <div class="header-section">
        <span>@ApplicationName</span>
    </div>

    <div class="header-button">
        <button @onclick="Toggle">Hello</button>
    </div>
</div>

<div class=@($"navigation-bar {ClassName}")>
    <NavigationBar>
        <NavigationBarItem Title="Home" Hyperlink="/" />
        <NavigationBarItem Title="Articles" Hyperlink="counter" />
    </NavigationBar>
</div>


@code {
    private bool isToggled { get; set; }
    private string ClassName => isToggled ? "toggled" : string.Empty;
    private void Toggle() => isToggled = !isToggled;

    /// <summary>
    /// Gets or sets the header name.
    /// </summary>
    [Parameter]
    public string ApplicationName { get; set; } = string.Empty;
}