<div class="header-bar">
    <div>
        <NavLink class="home-link" href="">
            <div class="symbol" />
            <span class="name">Juliana Tavora</span>
        </NavLink>
        <div class="job-title">Coastal physical oceanographer</div>
    </div>

    <div style="display:flex;">
        <div class=@($"navigation-bar {ClassName}")>
            <NavigationBar @bind-Toggled=Toggled Items="@Items" />
        </div>

        <div class="header-button-section">
            <button class=@($"header-button {ClassName}") @onclick=Toggle>
                <div class="menu-line line-1"></div>
                <div class="menu-line line-2"></div>
                <div class="menu-line line-3"></div>
            </button>
        </div>
    </div>

</div>

@if (Toggled)
{
    <div class="overlay" @onclick=Toggle></div>
}

@code {
    private bool Toggled { get; set; }
    private string ClassName => Toggled ? "toggled" : string.Empty;
    private string ButtonName => Toggled ? "Close" : "Open";
    private void Toggle() => Toggled = !Toggled;

    private List<NavigationBarItem> Items = new()
    {
        new() { Title = "ABOUT ME", Hyperlink = "" },
        new() { Title = "RESUME", Hyperlink = "resume" },
        new() { Title = "ARTICLES", Hyperlink = "articles" },
    };
}