<div class="navbar">
    @foreach (var item in Items)
    {
        <NavLink href=@item.Hyperlink Match=@item.Match @onclick=Toggle>
            <div class="navbar-item">
                <div class="navbar-title">@item.Title</div>
            </div>
        </NavLink>
    }
</div>

@code {
    private async Task Toggle()
    {
        await ToggledChanged.InvokeAsync(false);
    }

    /// <summary>
    /// Gets or sets a value indicating whether the navigation bar is toggled.
    /// </summary>
    [Parameter]
    public bool Toggled { get; set; }

    /// <summary>
    /// Gets or sets the navigation toggling event handler. 
    /// </summary>
    [Parameter]
    public EventCallback<bool> ToggledChanged { get; set; }

    /// <summary>
    /// Gets or sets the list of items in the navigation bar.
    /// </summary>
    [Parameter]
    public List<NavigationBarItem> Items { get; set; } = new();
}