<NavLink href=@Hyperlink Match=@Match>
    <div class="navbar-item">
        <div class="navbar-title">@Title</div>
    </div>
</NavLink>

@code {
    /// <summary>
    /// Gets or sets the title of the navigation bar item.
    /// </summary>
    [Parameter]
    public string Title { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the link of the navigation bar item.
    /// </summary>
    [Parameter]
    public string Hyperlink { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the icom of the navigation bar item.
    /// </summary>
    [Parameter]
    public string IconName { get; set; } = string.Empty;

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.All;
}