.year-container {
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: var(--sg);
    font-size: 18px;
}

.article-container {
    padding: var(--sg_lg) 0px;
}

.link-container {
    padding-bottom: var(--sg);
    display: flex;
    grid-gap: var(--sg_lg);
}

.symbol {
    height: var(--sg);
    width: var(--sg);
    background-color: var(--primary);
    flex-shrink: 0;
    margin-top: 9px;
}

.link {
    color: var(--primary);
    font-size: 18px;
    font-family: Poppins, sans-serif;
}

span.author {
    color: var(--primary);
    font-weight: 600;
}

.subtext {
    margin-left: 24px;
}