@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div style="display: flex; grid-gap: 8px;">
    <SDG3 Size=100 />
    <SDG7 Size=100 />
    <SDG13 Size=100 />
    <SDG14 Size=100 />
    <SDG15 Size=100 />
</div>

<div style="display: flex; grid-gap: 8px;">
    <div style="display: flex; grid-gap: 8px;">
        <ProgressDoughnut Size="32" Percentage="33" />
        <div>
            <div><strong>Atmospheric Aerosols</strong></div>
            <div>Earth and Planetary Sciences</div>
        </div>
    </div>
    <div style="display: flex; grid-gap: 8px;">
        <ProgressDoughnut Size="32" Percentage="50" />
        <div>
            <div><strong>Lagoon</strong></div>
            <div>Earth and Planetary Sciences</div>
        </div>
    </div>
    <div style="display: flex; grid-gap: 8px;">
        <ProgressDoughnut Size="32" Percentage="75" />
        <div>
            <div><strong>Algorithms</strong></div>
            <div>Earth and Planetary Sciences</div>
        </div>
    </div>
    <div style="display: flex; grid-gap: 8px;">
        <ProgressDoughnut Size="32" Percentage="100" />
        <div>
            <div><strong>Water Quality</strong></div>
            <div>Earth and Planetary Sciences</div>
        </div>
    </div>
</div>
