@page "/"

<PageTitle>About me</PageTitle>

<div class="home-page">
    <div class="personal-info">
        <div class="picture-container">
            <img src="./img/profile-picture.png" alt="Personal picture" height="240" width="240" />
        </div>
        <div class="contact">
            <div class="name">Juliana Tavora</div>
            <div class="social-links">
                <a href="https://github.com/julianatavora"><Github Size="32" /></a>
                <a href="https://www.linkedin.com/in/juliana-tavora/"><LinkedIn Size="32" /></a>
                <a href="https://orcid.org/0000-0002-0314-1250"><Orchid Size="32" /></a>
                <a href="https://www.researchgate.net/profile/Juliana-Tavora"><ResearchGate Size="32" /></a>
                <a href="mailto:tavora.pereira@gmail.com"><Mail Size="32" /></a>
            </div>
        </div>
    </div>

    <div class="personal-interest">
        <div class="hello">Hello</div>
        <div class="description">I’m a coastal physical oceanographer. My research interests include estuarine and coastal hydrodynamics, morphodynamics and transport of sediments and microplastics. I am particularly interested in understanding how climate change and human interventions impact estuarine systems. My research involves numerical and semi-analytical modeling and observational studies.</div>
        <div class="interests">
            <div class="interest">
                <img src="./img/water-quality.jpg" alt="Water quality" height="150" width="200" />
                <div>Water quality</div>
            </div>
            <div class="interest">
                <img src="./img/coastal-dynamics.jpg" alt="Coastal dynamics" height="150" width="200" />
                <div>Coastal dynamics</div>
            </div>
            <div class="interest">
                <img src="./img/estuaries.jpg" alt="Estuaries" height="150" width="200" />
                <div>Estuaries</div>
            </div>
        </div>
    </div>
</div>
