@page "/"

<PageTitle>About me</PageTitle>

<div class="home-page">
    <!--<div class="picture-container">
        <img src="./picture.png" alt="Personal picture" height="200" width="200" />
    </div>-->
</div>
